footer{
  font-family: 'Krona One', sans-serif;
  font-size: 20px;
}

h1{
  font-family: 'Krona One', sans-serif;
  font-size: 70px;
}

h2{
  font-family: 'Comfortaa', cursive;
  font-size: 50px;
}


h3{
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
}

.score-text{
  display: inline;
}

.score-card{
  background-color: blanchedalmond;
}

/* Sticky Score Card */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .wrapper {
  padding-top: 102px;
}

.wrapper{
  padding: 16px;
}